////
/// @author Tom Randolph
////

/// @example scss - Set the border radius of an element
///    ul li{
///        @include border-radius( .25em );
///    }
/// @example scss - Set different border radii for corners of an element
///    ul li{
///        @include border-radius( .25em .25em 0 0 );
///    }
/// @parameter {string} $radius - The content to assign to the border-radius property
/// @group Cross Browser
@mixin border-radius( $radius ){
    -webkit-border-radius:  $radius;
    -moz-border-radius:     $radius;
    -ms-border-radius:      $radius;
    -o-border-radius:       $radius;
    border-radius:          $radius;
}
