@mixin button( $color ){
    background-color: $color;

    &:active,
    &:focus{
        box-shadow: inset 2px 2px 3px make-dark( $color );
    }

    &.expander .expandee{
        border-color: make-dark( $color );
    }
}
