.main-bounding-box{
    @extend .clear;

    max-width: 1200px;

    position: relative;

    margin: auto;
    padding: 1rem;

    border-left: 1px solid $color-muted;
    border-right: 1px solid $color-muted;

    background-color: $color-brightest;

    &:before{
        @extend .clear;
        
        box-shadow: inset -6px 0 6px -6px $color-muted;
        content: " ";
        height: 100%;
        left: -6px;
        position: absolute;
        top: 0;
        width: 6px;
    }

    &:after{
        @extend .clear;
        
        box-shadow: inset 6px 0 6px -6px $color-muted;
        content: " ";
        height: 100%;
        left: 100%;
        position: absolute;
        top: 0;
        width: 6px;
    }
}
