body > footer{
    text-align: center;


    .main-bounding-box{
        border: 0;
        border-top: 1px solid $color-muted;

        &:before,
        &:after{
            box-shadow: none;
        }
    }
}
