<div class="grid">
    <div class="tc center nf col-1/2">
        <form>
            <div class="field center">
                <label for="email">Email Address</label>
                <input name="email" type="text" />
            </div>
            <div class="field center">
                <label for="username">Username</label>
                <input name="username" type="text" />
            </div>
            <div class="field center">
                <label for="password">Password</label>
                <input name="password" type="password" />
            </div>
            <div class="field center tr">
                <button type="submit">
                    <span class="fa fa-star"></span>&nbsp;Create
                </button>
            </div>
        </form>
        <hr />
        <a href="/login">Already have an account? Log in.</a>
    </div>
</div>
