<div class="grid">
    <div class="tc center nf col-1/2">
        <form class="clear">
            <div class="field center">
                <label for="username">Username</label>
                <input name="username" type="text" />
            </div>
            <div class="field center">
                <label for="password">Password</label>
                <input name="password" type="password" />
            </div>
            <div class="field center tr">
                <button type="submit">
                    <span class="fa fa-unlock"></span>&nbsp;Log in
                </button>
            </div>
        </form>
        <hr />
        <a href="/login/create">Create an account now</a>
    </div>
</div>
