<div id="logo">
    Logo
</div>
<div class="panels fr clear">
    <div id="jumpstart-panel" class="fl">
        Jump
    </div>
    <div id="control-panel" class="fl">
        Panel
    </div>
</div>
