<header>
    <div class="main-bounding-box">
        <div id="header-content">
            {% include( "header/logo.twig" ) %}
            {% include( "header/nav.twig" ) %}
            {% include( "header/user-panel.twig" ) %}
        </div>
    </div>
</header>
