<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <base href="/" />
        <title>Lyst</title>

        <link rel="stylesheet" type="text/css" href="build/css/screen.min.css" />

        <script src="build/vendor/requirejs/require.js" data-main="build/js/lyst.js"></script>
    </head>
    <body>
        {% include( "header.twig" ) %}
        <div class="main-bounding-box">
            <div id="content">
                <noscript>
                    <div class="tc center" style="width: 600px;">
                        <p><strong>Lyst</strong> requires JavaScript in order to function.</p>
                        <p>Many of the top sites in the world like Google, Netflix, Amazon, Facebook, and many more make heavy use of JavaScript.</p>
                        <p><a href="http://www.enable-javascript.com/">Learn how to enable JavaScript in your web browser</a></p>
                    </div>
                </noscript>
            </div>
        </div>
        {% include( "footer.twig" ) %}
    </body>
</html>
